<form [formGroup]="formulario">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="nome">Nome</label>
        </div>
        <input 
            type="text" 
            class="form-control" 
            id="nome"
            formControlName="nome" 
            placeholder="Nome" 
        >
        
        <!--app-control-campo-erro [mostrarErro]="verificaValidTouched(nome)" [msgErro]="'Nome é obrigatório'"></app-control-campo-erro-->
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="email">Email</label>
        </div>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            formControlName="email" 
            placeholder="Email" 
        >
        <!--app-control-campo-erro [mostrarErro]="verificaValidTouched(email)" [msgErro]="'Email é obrigatório'"></app-control-campo-erro-->
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    <app-form-debug [form]="formulario"></app-form-debug>
</form>